header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  max-height: 80px;
  background-color: #fff;
  min-width: 300px;
  position: relative;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.04),
    0 8px 20px -3px rgba(0, 0, 0, 0.1), 0 4px 8px -2px rgba(0, 0, 0, 0.06);
}



.icona a {
  height: 80px;
}
.icona a svg {
  fill: #fb6100;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
  height: 40px;
}

.navbar {
  display: flex;
}

.navbar ul {
  display: flex;
  height: 100%;
  vertical-align: middle;
  padding-right: 8px;
}

.navbar ul li {
  position: relative;
  margin-left: 12px;
}

.navbar ul li a {
  display: flex;
  height: 48px;
  width: fit-content;
  border-radius: 50px;
  padding: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.navbar ul li a:hover {
  background-color: #ebebeb;
}

.navbar ul li a svg {
  margin-right: 4px;
  height: 24px;
}

@media (max-width: 768px) {
  header {
    flex-direction: row;
  }

  .navbar ul {
    display: none;
  }

  .navbar {
    height: 36px;
    width: 10%;
    order: -1;
    max-height: 80px;
  }

    .navbar .hamburger-menu {
      margin-left: 15px;
    }

  .navbar .hamburger-menu,
  .navbar .hamburger-menu svg {
    display: block;
    height: inherit;
    fill: #fb6100;
  }

  .icona a svg {
    height: 24px;
  }

  .icona {
    margin: auto;
  }
}
