<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="/components/checkbox/checkbox.css" />
    <link rel="stylesheet" href="/components/checkbox-card/c-card.css" />
    <link rel="stylesheet" href="griglia-card-pg-ricerca.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="griglia-card-pg-ricerca">
      <div class="checkboxCard">
        <input type="checkbox" name="c-card" id="c-card" class="hidden" />
        <label for="c-card" class="c-card">
          <div class="immagine-checkbox">
            <span class="background"></span>
            <img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,h_480,q_auto,w_640/v1/experiments/projecticing/it/cuisine-icons/spesa"
              alt=""
            />
          </div>
          <div class="nomeCucina">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 17 12"
              class="hidden"
            >
              <path
                d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"
              ></path>
            </svg>
            <span>Spesa</span>
          </div>
        </label>
      </div>
      <div class="checkboxCard">
        <input type="checkbox" name="c-card" id="c-card" class="hidden" />
        <label for="c-card" class="c-card">
          <div class="immagine-checkbox">
            <span class="background"></span>
            <img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,h_480,q_auto,w_640/v1/experiments/projecticing/it/cuisine-icons/spesa"
              alt=""
            />
          </div>
          <div class="nomeCucina">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 17 12"
              class="hidden"
            >
              <path
                d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"
              ></path>
            </svg>
            <span>Spesa</span>
          </div>
        </label>
      </div>
      <div class="checkboxCard">
        <input type="checkbox" name="c-card" id="c-card" class="hidden" />
        <label for="c-card" class="c-card">
          <div class="immagine-checkbox">
            <span class="background"></span>
            <img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,h_480,q_auto,w_640/v1/experiments/projecticing/it/cuisine-icons/spesa"
              alt=""
            />
          </div>
          <div class="nomeCucina">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 17 12"
              class="hidden"
            >
              <path
                d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"
              ></path>
            </svg>
            <span>Spesa</span>
          </div>
        </label>
      </div>
      <div class="checkboxCard">
        <input type="checkbox" name="c-card" id="c-card" class="hidden" />
        <label for="c-card" class="c-card">
          <div class="immagine-checkbox">
            <span class="background"></span>
            <img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,h_480,q_auto,w_640/v1/experiments/projecticing/it/cuisine-icons/spesa"
              alt=""
            />
          </div>
          <div class="nomeCucina">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 17 12"
              class="hidden"
            >
              <path
                d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"
              ></path>
            </svg>
            <span>Spesa</span>
          </div>
        </label>
      </div>

      <div class="checkboxCard">
        <input type="checkbox" name="c-card" id="c-card" class="hidden" />
        <label for="c-card" class="c-card">
          <div class="immagine-checkbox">
            <span class="background"></span>
            <img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,h_480,q_auto,w_640/v1/experiments/projecticing/it/cuisine-icons/spesa"
              alt=""
            />
          </div>
          <div class="nomeCucina">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 17 12"
              class="hidden"
            >
              <path
                d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"
              ></path>
            </svg>
            <span>Spesa</span>
          </div>
        </label>
      </div>

            <div class="checkboxCard">
        <input type="checkbox" name="c-card" id="c-card" class="hidden" />
        <label for="c-card" class="c-card">
          <div class="immagine-checkbox">
            <span class="background"></span>
            <img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,h_480,q_auto,w_640/v1/experiments/projecticing/it/cuisine-icons/spesa"
              alt=""
            />
          </div>
          <div class="nomeCucina">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 17 12"
              class="hidden"
            >
              <path
                d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"
              ></path>
            </svg>
            <span>Spesa</span>
          </div>
        </label>
      </div>

            <div class="checkboxCard">
        <input type="checkbox" name="c-card" id="c-card" class="hidden" />
        <label for="c-card" class="c-card">
          <div class="immagine-checkbox">
            <span class="background"></span>
            <img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,h_480,q_auto,w_640/v1/experiments/projecticing/it/cuisine-icons/spesa"
              alt=""
            />
          </div>
          <div class="nomeCucina">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 17 12"
              class="hidden"
            >
              <path
                d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"
              ></path>
            </svg>
            <span>Spesa</span>
          </div>
        </label>
      </div>

            <div class="checkboxCard">
        <input type="checkbox" name="c-card" id="c-card" class="hidden" />
        <label for="c-card" class="c-card">
          <div class="immagine-checkbox">
            <span class="background"></span>
            <img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,h_480,q_auto,w_640/v1/experiments/projecticing/it/cuisine-icons/spesa"
              alt=""
            />
          </div>
          <div class="nomeCucina">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 17 12"
              class="hidden"
            >
              <path
                d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"
              ></path>
            </svg>
            <span>Spesa</span>
          </div>
        </label>
      </div>
    </div>
  </body>
</html>
