<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="banner.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="banner">
      <picture>
        <source
          srcset="
            https://d2egcvq7li5bpq.cloudfront.net/a/hw/img/decoration/bg_hero-wide.jpg
          "
          media="(min-width: 860px)"
        />
        <source
          srcset="
            https://d2egcvq7li5bpq.cloudfront.net/a/hw/img/decoration/bg_hero-mid.jpg
          "
          media="(min-width: 600px)"
        />
        <img
          srcset="
            https://d2egcvq7li5bpq.cloudfront.net/a/hw/img/decoration/bg_hero-narrow.jpg
          "
        />
      </picture>
    </div>
  </body>
</html>
