<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="searchbar.css" />
    <link rel="stylesheet" href="/components/button-style/button.css" />
    <title>Searchbar</title>
  </head>
  <body>
    <div id="complete_searchbar">
      <h1>Il bello è prenderci gusto</h1>
      <div><h2>Ordina online dai tuoi ristoranti preferiti</h2></div>
      <form id="searchbar_container">
        <input type="text" placeholder=" " />
        <span class="placeholder">Indirizzo di consegna</span>
        <button type="button" class="button" id="search_button">
          <span class="button-mobile">
            <svg viewBox="0 0 20 25" class="">
              <path
                d="M9.078 3.759a6.22 6.22 0 00-3.464 1.035l-.077.076c-1.385.92-2.348 2.338-2.656 3.947-.346 1.648 0 3.296.924 4.675a6.265 6.265 0 005.197 2.76 6.22 6.22 0 003.464-1.036l.077-.076c2.848-1.916 3.656-5.748 1.732-8.622a6.265 6.265 0 00-5.197-2.759zm7.93 20.692l-3.541-5.288c-.039-.038-.039-.076-.077-.115-.308-.498-.693-.613-1.001-.613-.154 0-.231.039-.231.039l-.732.153a8.895 8.895 0 01-2.463.345 8.965 8.965 0 01-7.467-3.985c-2.733-4.1-1.617-9.695 2.502-12.416l.077-.077C5.537 1.498 7.269 1 9.04 1c3.04 0 5.85 1.494 7.506 3.985 2.194 3.257 2.001 7.396-.423 10.538l-.424.575c-.038.038-.5.613.039 1.341.038.038.038.077.077.115v.038l3.54 5.288-2.347 1.571z"
                fill="#FFF"
                fill-rule="evenodd"
              ></path>
            </svg> </span
          ><span class="button-desktop">Trova i ristoranti!</span>
        </button>
      </form>
    </div>
  </body>
</html>
