#complete_searchbar {
  max-width: 95%;
  background-color: #ffffff;
  padding: 16px;
  width: 800px;
  height: 234px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  gap: 1rem;
  margin-inline: auto;
  position: relative;
  margin: -45px auto auto;
  margin-top: -184px;
  color: #425457;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-weight: 400;

}

#search_button:hover {
  background-color: #be5c24;
}
#complete_searchbar h1 {
  color: #fb6100;
  font-size: 50px;
  font-weight: bold;
}
#complete_searchbar div h2 {
  font-size: 20px;
  color: #393939;
}

#searchbar_container {
  
  width: 95%;
  height: 64px;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #ccc;
  border-radius: 50rem;
  align-items: center;
  padding-right: 5px;
}
#searchbar_container input {
  width: 100%;
  height: 55px;
  flex: 1;
  padding-top: 30px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  border: none;
  font-size: 16px;
}
#search_button {
  padding: 16px;
  background-color: #fb6100;
  border: none;
  border-radius: 50rem;
  height: 55px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  color: #f4f4f4;
  font-size: 20px;
  font-weight: bold;
}

.placeholder {
  pointer-events: none;

  position: absolute;
  padding-left: 20px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: text;
}
#searchbar_container input:focus + .placeholder,
#searchbar_container input:not(:placeholder-shown) + .placeholder {
  top: 7px;
  -webkit-transform: scale(0.7) translateY(-10%) translateX(-8.5px);
  transform: scale(0.7) translateY(-10%) translateX(-8.5px);
}

#searchbar_container input,
.placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}


