<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="searchbar.css">
    <link rel="stylesheet" href="/components/button-style/button.css">
    <title>Searchbar</title>
  </head>
  <body>
    <div id="complete_searchbar">
        <h1>Il bello è prenderci gusto</h1>
        <div><h2>Ordina online dai tuoi ristoranti preferiti<h2></div>
        <form id="searchbar_container">
            <input type="text"  placeholder=" ">
            <span class="placeholder">indirizzo di consegna</span>
            <button type="button" class="button" id="search_button">Trova i ristoranti!</button>
        </form>
    </div>
  </body>
</html>
