#complete_searchbar {
  max-width: 95%;
  background-color: #ffffff;
  padding: 16px;
  width: 800px;
  height: 234px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  gap: 1rem;
  margin-inline: auto;
  position: relative;
  margin-top: -184px;
  color: #425457;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

#search_button:hover {
  background-color: #be5c24;
}
#complete_searchbar h1 {
  color: #fb6100;
  font-size: 50px;
  font-weight: bold;
}
#complete_searchbar div h2 {
  font-size: 20px;
  color: #393939;
}

#searchbar_container {
  width: 95%;
  height: 64px;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #ccc;
  border-radius: 50rem;
  align-items: center;
  padding-right: 5px;
  position: relative;
}
#searchbar_container input {
  width: 100%;
  height: 55px;
  flex: 1;
  padding-top: 30px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  border: none;
  font-size: 16px;
}
#search_button {
  padding: 16px;
  background-color: #fb6100;
  border: none;
  border-radius: 50rem;
  height: 55px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  color: #f4f4f4;
  font-size: 20px;
  font-weight: bold;
}

.placeholder {
  pointer-events: none;

  position: absolute;
  padding-left: 10px;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: text;
  text-transform: none;
}
#searchbar_container input:focus + .placeholder,
#searchbar_container input:not(:placeholder-shown) + .placeholder {
  top: 12px;
  -webkit-transform: scale(0.9) translateY(-8%) translateX(-6px);
  transform: scale(0.9) translateY(-8%) translateX(-6px);
}

#searchbar_container input,
.placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button-mobile {
  display: none;
}

@media (max-width: 768px) {
  #searchbar_container {
    display: flex;
  }
  #complete_searchbar h1 {
    font-size: 2rem;
    text-align: center;
  }

  #complete_searchbar div h2 {
    font-size: 1rem;
    text-align: center;
  }

  .button-desktop {
    display: none;
  }

  .button-mobile {
    display: inline-block;
    width: 20px;
    height: 25px;
  }

  #complete_searchbar {
    margin: -45px auto auto;
  }
  .placeholder {
    top: 17px;
    left: 16px;
    text-align: left;
    transition: all 0.3s;
    cursor: text;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    right: 16px;
  }

  #searchbar_container input:focus + .placeholder,
  #searchbar_container input:not(:placeholder-shown) + .placeholder {
    transform: scale(0.8) translateY(-5px) translateX(-45px);
    text-overflow: unset;
  }
  #searchbar_container input,
  .placeholder {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
