<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./hamb.css" />
    <title>hamb</title>
  </head>
  <body>
    <picture>
      <img id="banner-small" src="hamb-smaller.jpg" alt="un ottimo hamburger" />
      <img id="banner-medium" src="hamb-medium.jpg" alt="un ottimo hamburger" />
      <img id="banner-large" src="hamb-large.jpg" alt="un ottimo hamburger" />
    </picture>
  </body>
</html>
