<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="checkbox.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="checkbox-cucina">
      <input type="checkbox" class="hidden" name="cucina" id="cucina">
      <label for="cucina" class="cucina">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 12" class="hidden"><path d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"></path></svg>
        <span>Alimentari</span>
        <span>1</span>
      </label>
    </div>
  </body>
</html>
