.testata-lista-checkbox {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
}

.titolo-lista {
  display: flex;
  align-items: center;
  height: 33px;
}

.titolo-lista p {
  text-wrap: nowrap;
}

.titolo-lista svg {
  height: 16px;
  width: auto;
  padding-right: 8px;
}

.bottone-resetta {
  border: 1px solid #a9a9a9;
  border-radius: 20px;
  padding: 6px 8px;
  font-size: .875rem;
  cursor: pointer;
}

.bottone-resetta:hover {
    background-color: #d9d9d9;

}

.vedi-altri {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.vedi-piu svg, .vedi-meno svg{
  height: 8px;
  margin-left: 8px;
}

.vedi-meno, .piu:checked + label .vedi-piu, .checkbox-altri {
  display: none;
}

.piu:checked + label .vedi-meno, .piu:checked + label + .checkbox-altri {
  display: block;
}

.piu:checked + label span svg {
  transform: rotate(180deg);
}

.checkbox-altri {
  order: -1;
  width: 100%;
}