<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./h-card.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="homepage-card">
      <a href=""
        ><img
          src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,h_190,q_auto,w_187/v1/it/cuisine-icons/spesa"
          alt="spesa"
        />
        <h4>Spesa</h4></a
      >
    </div>
  </body>
</html>
