.footer_Bottom {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: none
}
.listFooter {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 16px;
}

.listFooter > li {
  padding: 16px;
}

.icons {
  width: 65px;
  height: 25px;
}

#cookie > a {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-size: larger;
  font-weight: bold;
}

.text_Piva {
  padding: 16px;
}
