<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="/components/checkbox/checkbox.css" />
    <link rel="stylesheet" href="sidebar-pg-ricerca.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="sidebar-pg-ricerca">
      <div class="testata-lista-checkbox">
        <div class="titolo-lista">
          <svg data-v-67ec89c6="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 15" class="c-ficon c-ficon--cuisine"><path data-v-67ec89c6="" d="M5.1 4h3.6a.4.4 0 0 1 0 .8h-.4l-1.2 9.3a.4.4 0 0 1-.4.3h-4a.4.4 0 0 1-.4-.3l-1-9.3H.7a.4.4 0 1 1 0-.8h3.6V2.2L2.8.7a.4.4 0 1 1 .6-.6L5 1.7a.4.4 0 0 1 .1.3v2zm2.4.8H2l1 8.8h3.3l1-8.8zm7.2 4v-.4c0-.7-.5-1.2-1.2-1.2h-2.4c-.6 0-1.2.5-1.2 1.2v.4h4.8zm.8 3.2v.4a2 2 0 0 1-2 2h-2.4a2 2 0 0 1-2-2V12a1.7 1.7 0 0 1-.4 0 .4.4 0 1 1 0-.8c.3 0 .4 0 .7-.3.4-.4.6-.5 1.1-.5.5 0 .8.1 1.2.5l.6.3c.3 0 .4 0 .7-.3.4-.4.6-.5 1.1-.5.5 0 .8.1 1.2.5l.6.3a.4.4 0 1 1 0 .8 1.7 1.7 0 0 1-.4 0zm-5.6-.5v.9c0 .7.6 1.2 1.2 1.2h2.4c.7 0 1.2-.5 1.2-1.2v-1l-.6-.2c-.3 0-.3 0-.6.3-.4.4-.7.5-1.2.5s-.7-.1-1.1-.5c-.3-.2-.4-.3-.7-.3-.2 0-.3 0-.6.3zm-.8-3.1c0-1.1 1-2 2-2h2.4a2 2 0 0 1 2 2v.8a.4.4 0 0 1-.4.4H9.5a.4.4 0 0 1-.4-.4v-.8z"></path></svg>
          <p>Tutte le altre (A-Z)</p>
        </div>
        <button class="bottone-resetta">Resetta</button>
      </div>
      <div class="checkbox-cucina">
        <input type="checkbox" class="hidden" name="Alimentari" id="Alimentari" />
        <label for="Alimentari" class="cucina">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 17 12"
            class="hidden"
          >
            <path
              d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"
            ></path>
          </svg>
          <span>Alimentari</span>
          <span>1</span>
        </label>
      </div>
      <div class="checkbox-cucina">
        <input type="checkbox" class="hidden" name="Americano" id="Americano" />
        <label for="Americano" class="cucina">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 17 12"
            class="hidden"
          >
            <path
              d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"
            ></path>
          </svg>
          <span>Americano</span>
          <span>1</span>
        </label>
      </div>
      <div class="checkbox-cucina">
        <input type="checkbox" class="hidden" name="AsianFusion" id="AsianFusion" />
        <label for="AsianFusion" class="cucina">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 17 12"
            class="hidden"
          >
            <path
              d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"
            ></path>
          </svg>
          <span>AsianFusion</span>
          <span>1</span>
        </label>
      </div>
      <div class="checkbox-cucina">
        <input type="checkbox" class="hidden" name="Bakery" id="Bakery" />
        <label for="Bakery" class="cucina">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 17 12"
            class="hidden"
          >
            <path
              d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"
            ></path>
          </svg>
          <span>Bakery</span>
          <span>1</span>
        </label>
      </div>
      <div class="checkbox-cucina">
        <input type="checkbox" class="hidden" name="Bevande" id="Bevande" />
        <label for="Bevande" class="cucina">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 17 12"
            class="hidden"
          >
            <path
              d="M5.53 10.57L15.65.45a.4.4 0 1 1 .57.57l-10.4 10.4a.4.4 0 0 1-.57 0l-4.8-4.8a.4.4 0 1 1 .57-.57l4.51 4.52z"
            ></path>
          </svg>
          <span>Bevande</span>
          <span>1</span>
        </label>
      </div>
    </div>
  </body>
</html>
