<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./g-opzioni.css" />
    <link rel="stylesheet" href="/components/homepage card/h-card.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="sezione-opzioni">
      <h2>Le cucine più amate</h2>
      <p>
        Trova le cucine più amate dai ristoranti nella tua zona e ordina online
        a domicilio.
      </p>
      <div class="griglia-opzioni">
        <div class="homepage-card">
          <a href=""
            ><img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,h_190,q_auto,w_187/v1/it/cuisine-icons/spesa"
              alt="spesa"
            />
            <h4>Spesa</h4></a
          >
        </div>
        <div class="homepage-card">
          <a href=""
            ><img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,h_190,q_auto,w_187/v1/it/cuisine-icons/pizza"
              alt="pizza"
            />
            <h4>Pizza</h4></a
          >
        </div>
        <div class="homepage-card">
          <a href=""
            ><img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,h_190,q_auto,w_187/v1/it/cuisine-icons/hamburger"
              alt="hamburger"
            />
            <h4>Hamburger</h4></a
          >
        </div>
        <div class="homepage-card">
          <a href=""
            ><img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,h_190,q_auto,w_187/v1/it/cuisine-icons/fritti"
              alt="fritti"
            />
            <h4>Fritti</h4></a
          >
        </div>
        <div class="homepage-card">
          <a href=""
            ><img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,h_190,q_auto,w_187/v1/it/cuisine-icons/italiano"
              alt="italiano"
            />
            <h4>Italiano</h4></a
          >
        </div>
        <div class="homepage-card">
          <a href=""
            ><img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,h_190,q_auto,w_187/v1/it/cuisine-icons/americano"
              alt="americano"
            />
            <h4>Americano</h4></a
          >
        </div>
        <div class="homepage-card">
          <a href=""
            ><img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,h_190,q_auto,w_187/v1/it/cuisine-icons/cinese"
              alt="cinese"
            />
            <h4>Cinese</h4></a
          >
        </div>
        <div class="homepage-card">
          <a href=""
            ><img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,h_190,q_auto,w_187/v1/it/cuisine-icons/giapponese"
              alt="giapponese"
            />
            <h4>Giapponese</h4></a
          >
        </div>
      </div>
    </section>
  </body>
</html>
