.sezione-opzioni {
  margin: 25px;
  max-width: 95%;
}

.sezione-opzioni h2 {
  font-weight: 1000;
  font-size: 2rem;
}

.sezione-opzioni > p {
  color: rgb(72, 72, 72);
}

.sezione-opzioni > * {
  margin: 10px;
}

.griglia-opzioni {
  display: flex;
  max-height: 185px;
  overflow-x: auto;
  max-width: 1200px;
  flex-basis: auto;
}

.griglia-opzioni * {
  max-height: 185px;
  margin: auto;
  display: inline-block;
  vertical-align: top;
  min-width: 150px;
  margin: 8px;
}
