<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="cookies.css">
    <title>Document</title>
</head>

<body>
    <input type="checkbox" id="hide-cookies">
    <div class="container-cookies">
        <div class="cookies-text">
            <h2 class="title-cookies" tabindex="1">Cookies</h2>
            <p>
                Utilizziamo i cookie necessari (e tecnologie simili) per far funzionare la nostra piattaforma. <br>
            </p>
            <p>
                Vorremmo anche utilizzare cookies facoltativi che ci aiutano a migliorare la nostra piattaforma
                raccogliendo
                informazioni su come la utilizzi. <br>
            </p>
            <p>
                Per i dettagli sui cookie e sulle tecnologie che utilizziamo puoi leggere <a href="#"
                    style="text-decoration: underline;" class="link-cookies">la nostra
                    informativa sui cookie</a>. L'utilizzo di questo banner imposterá; un cookie sul tuo dispositivo per
                ricordare le tue preferenze.
            </p>
        </div>
        
        <div class="button-cookies">
            <div class="button-fewcookies" tabindex="1">
                <label for="hide-cookies">
                    <button>
                        Accetta solo i cookies necessari.
                    </button>
                </label>
            </div>
            <div class="button-allcookies" tabindex="1">
                <label for="hide-cookies">
                    <button>
                        Accetta tutti i cookies.
                    </button>
                </label>
            </div>
        </div>
    </div>
</body>

</html>