
.button {
    background-color: #fb6100;
    border: none;
    border-radius: 50rem;
    height: 55px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    color: #dfe0df;
    font-size: 20px;
    font-weight: bold;
   }

   .button:hover {
    background-color: #be5c24;
   }
