a:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .mobile_footer {
    display: none;
  }

  h2 {
    padding-left: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  #large_footer {
    width: 100%;
    padding: inherit;
    background-color: #dfe0df;
    display: flex;
    flex-flow: row nowrap;
    font-size: 16px;
    font-weight: lighter;
  }
  .linkList-wrapper {
    flex: 1 0 auto;
    flex-direction: column;
  }

  .list {
    margin-bottom: 16px;
  }
  li {
    padding: 8px;
  }
}

@media (max-width: 1023px) {
  #large_footer {
    display: none;
  }

  .mobile_footer {
    padding: 1rem;
    list-style: none;
    background-color: #dfe0df;
    
  }
  .div-link-list {
    border-bottom: 0.5px solid #dbd9d7;
    align-items: center;

  }

   summary {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    padding: 1rem;
     transition: transform 0.3s;
   
  }
  h2 {
    display: flex; 
    justify-content: space-between;
    align-items: center;
  }
  .list {
    list-style: none;
    padding-left: 0;
    display: none;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 2rem;
  }
  li {
    padding-bottom: 1rem;
  }
  .list {
    display: block;
  }
  .link-icon {
 
  height: 9px;
  width: 16px;
 }
 
}
