@media (min-width: 1024px) {
  .mobile_footer {
    display: none;
  }
  .linkList-wrapper ul li a:hover {
    text-decoration: underline;
  }
  .linkList-wrapper h2 {
    padding-left: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  #large_footer {
    width: 100%;
    padding: inherit;
    background-color: none;
    display: flex;
    flex-flow: row nowrap;
    font-size: 16px;
    font-weight: lighter;
    max-width: 1200px;
  }
  .linkList-wrapper {
    flex: 1 0 auto;
    flex-direction: column;
  }

  .list {
    margin-bottom: 16px;
  }
  .linkList-wrapper ul li {
    padding: 8px;
    font-size: 14px;
  }

  .linkList-wrapper ul {
    margin-top: 16px;
  }
}

@media (max-width: 1024px) {
  #large_footer {
    display: none;
  }

  .mobile_footer {
    list-style: none;
    background-color: none;
    width: 100%;
  }
  .div-link-list {
    border-bottom: 0.5px solid #dbd9d7;
  }
  .footer_checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .div-link-list h2 {
    font-size: 20px ;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
    transition: transform 0.3s;
  }
  .list {
    list-style: none;
    padding-left: 0;
    display: none;
    margin-bottom: 2rem;
    margin-left: 1rem;
   
  }
  .list li {
    font-size: smaller;
    margin: 20px;
    font-size: 14px;
  }
  .toggle-menu:checked + .footer_checkbox + .list {
    display: block;
  }

  .footer_checkbox .link-icon {
    height: 9px;
    width: 16px;
    transform: 0.3s ease;
  }
  .toggle-menu:checked + .footer_checkbox .link-icon {
    transform: rotate(180deg);
  }
  .div-link-list input {
    display: none;
  }
 .div-link-list .list li a:hover {
  text-decoration: underline;
  transform: 0.3s;
 }
}
